# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd

import numpy as np

In [4]:
df1 = pd.read_csv(r"C:\Users\paula\01_Ironhack\labs\labs_Unit2\lab-dw-data-structuring-and-combining\df.csv")

In [5]:
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")

In [6]:
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [7]:
df1.shape

(1071, 11)

In [8]:
df2.shape

(996, 11)

In [9]:
df3.shape

(7070, 11)

In [10]:
print(df1.columns, "\n\n", df2.columns, "\n\n", df3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

 Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [11]:
# renaming ST/state to synchronize
df1.rename(columns= {"ST": "state"}, inplace=True)
df2.rename(columns= {"ST": "state"}, inplace=True)

# renaming all columns to snakecase and _
df1.columns = [col.lower().replace(" ", "_") for col in df1.columns]
df2.columns = [col.lower().replace(" ", "_") for col in df2.columns] 
df3.columns = [col.lower().replace(" ", "_") for col in df3.columns]

In [12]:
print(df1.columns, "\n\n", df2.columns, "\n\n", df3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

 Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

 Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [13]:
# put all columns in the same order
df1 = df1[['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']]
df2 = df2[['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']]
df3 = df3[['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']]

# cleaning number_of_open_complaints
before concat() because I did not know ho to do it in the combinded df
cleaning is only necessary for df2, the others are in the correct format

In [15]:
df1["number_of_open_complaints"].unique()

array([0, 2, 1, 3, 5, 4], dtype=int64)

In [16]:
df2["number_of_open_complaints"].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00'],
      dtype=object)

In [30]:
df3["number_of_open_complaints"].unique()

array([0, 2, 3, 1, 5, 4], dtype=int64)

## the below worked in the other lab, I cannot see why it is not working here...

In [126]:
"""
df2["number_of_open_complaints"] = df2["number_of_open_complaints"].astype(str).str.split("/")

df2["number_of_open_complaints"] = df2["number_of_open_complaints"].apply(lambda complaints: int(complaints[1]))

df2["number_of_open_complaints"] = pd.to_numeric(df2["number_of_open_complaints"], errors='coerce')

df2.number_of_open_complaints.values_count()
"""

IndexError: list index out of range

In [32]:
df4 = pd.concat([df1, df2, df3], axis=0)

In [34]:
df4.shape

(9137, 11)

In [36]:
df4.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [38]:
df4.sample(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
2031,QV48556,Arizona,F,Master,5421.04863,29981.0,71.0,0,Corporate Auto,Two-Door Car,340.800000
852,AG32304,Nevada,F,College,5418.726537,39133.0,67.0,0,Personal Auto,Four-Door Car,90.524457
2913,BW65176,Arizona,M,College,3141.252909,43499.0,80.0,0,Personal Auto,Four-Door Car,529.490007
5930,RD73104,Washington,F,High School or Below,7942.448548,12181.0,108.0,0,Personal Auto,Four-Door Car,591.511506
2861,OB69329,California,F,College,6273.911874,18577.0,86.0,0,Personal Auto,Four-Door Car,412.800000

# cleaning the new dataframe

## cleaning gender:
decided to got with bfill for the nans because the % between the genders only changed very slightly through this (ffill changed the proportions a lot more)

In [40]:
df4.gender.unique() # categories before any changes

array([nan, 'F', 'M', 'female', 'Male'], dtype=object)

In [42]:
df4.gender.replace("female", "F", inplace=True)
df4.gender.replace("Male", "M", inplace=True)

df4.gender.value_counts()

gender
F    4607
M    4408
Name: count, dtype: int64

In [44]:
df4.isna().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        4
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [46]:
# checking how the % of F/M changes after applying bfill for the nans
round(df4.gender.value_counts("F") * 100, 2)

gender
F    51.1
M    48.9
Name: proportion, dtype: float64

In [48]:
df4["gender"] = df4["gender"].bfill()

In [50]:
round(df4.gender.value_counts("F") * 100, 2)

gender
F    51.25
M    48.75
Name: proportion, dtype: float64

In [52]:
df4.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      4
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## cleaning nans in customer_lifetime_value

In [55]:
df4.dropna(subset=["customer_lifetime_value"], inplace=True) # dropping nans in customer_lifetime_value because it is only 4

In [57]:
df4.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

# cleaning state

In [59]:
df4.state.unique() # categories before any changes

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'AZ'],
      dtype=object)

In [61]:
df4.state.replace("AZ", "Arizona", inplace=True)

df4.state.value_counts()

state
California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     794
Name: count, dtype: int64

# cleaning education

In [63]:
df4.education.unique() # categories before any changes

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       'Bachelors'], dtype=object)

In [65]:
df4.education.replace("Bachelors", "Bachelor", inplace=True)

df4.education.value_counts()

education
Bachelor                2742
College                 2682
High School or Below    2614
Master                   751
Doctor                   344
Name: count, dtype: int64

# cleaning customer_lifetime_value

In [67]:
df4["customer_lifetime_value"] = df4["customer_lifetime_value"].astype(str).str.replace("%", "") # convert to str to enable str formatting

df4["customer_lifetime_value"] = pd.to_numeric(df4["customer_lifetime_value"], errors='coerce') # change back to numeric

df4.customer_lifetime_value.sample(5)

918     530943.590000
4421      2254.931708
1876      8807.486831
3451      8007.399376
447       2570.235172
Name: customer_lifetime_value, dtype: float64

In [69]:
df4.isna().sum() # checking for nans because of discussion in class but everything is okay

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

# cleaning vehicle_class

In [71]:
df4.vehicle_class.unique() # categories before any changes

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', 'Luxury Car',
       'Sports Car', 'Luxury SUV'], dtype=object)

In [73]:
df4.vehicle_class.replace("Sports Car", "Luxury", inplace=True)
df4.vehicle_class.replace("Luxury SUV", "Luxury", inplace=True)
df4.vehicle_class.replace("Luxury Car", "Luxury", inplace=True)

df4.vehicle_class.value_counts()

vehicle_class
Four-Door Car    4637
Two-Door Car     1896
SUV              1774
Luxury            826
Name: count, dtype: int64

# cleaning number_of_open_complaints

In [79]:
df4.number_of_open_complaints.unique()

array([0, 2, 1, 3, 5, 4, '1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00',
       '1/4/00'], dtype=object)

In [77]:
""" # doesnt work
if df4["number_of_open_complaints"] != 0o12345:
    df4["number_of_open_complaints"] = df4["number_of_open_complaints"].astype(str).str.split("/")
    df4["number_of_open_complaints"] = df4["number_of_open_complaints"].apply(lambda complaints: int(complaints[1]))
    df4["number_of_open_complaints"] = pd.to_numeric(df4["number_of_open_complaints"], errors='coerce')

df4.number_of_open_complaints
"""

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [83]:
df4.customer_lifetime_value

0       5.881742e+05
1       6.979536e+05
2       1.288743e+06
3       7.645862e+05
4       5.363077e+05
            ...
7065    2.340599e+04
7066    3.096511e+03
7067    8.163890e+03
7068    7.524442e+03
7069    2.611837e+03
Name: customer_lifetime_value, Length: 9133, dtype: float64

In [85]:
df4.dtypes # datatypes are correct apart from "number_of_open_complaints", I could not solve this

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [87]:
df4.isna().sum() # last check for nans

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [89]:
df4.duplicated().sum() # check for duplicates

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [91]:
df5 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [103]:
pd.set_option('display.max_columns', None) # display all columns
df5.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [97]:
df5.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [101]:
df5.sales_channel.unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [111]:
# "total revenue" was interpreted as "customer_lifetime_value"

pivot_df1 = round(df5.pivot_table(index="sales_channel", values=["customer_lifetime_value"]), 2)
pivot_df1

               customer_lifetime_value
sales_channel
Agent                          8021.81
Branch                         8060.62
Call Center                    8110.36
Web                            7809.12

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [115]:
pivot_df2 = round(df5.pivot_table(index="education", columns="gender", values=["customer_lifetime_value"]), 2)
pivot_df2.head(10)

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.51  7415.33
High School or Below                 8675.22  8149.69
Master                               8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here